<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="">
</head>
<body>
  {{> header}}
  {{> navigation}}
  <main>
    {{{body}}}
  </main>
  {{> footer}}
</body>
</html>
